services:
  backend:
    build:
      context: ./backend
    ports:
      - "3009:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./recordings:/app/recordings
    environment:
      - NODE_ENV=production
    command: yarn start

  frontend:
    build:
      context: ./frontend
    ports:
      - "8088:80"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VUE_APP_BASE_API=http://10.10.10.2:3009
      - VUE_APP_WS_API=ws://10.10.10.2:3009

volumes:
  recordings:
    driver: local
